body {
    background-color: #121212;
    font-family: Arial, sans-serif;
    color: white;
}

h1 {
    color: #1db954;
    font-size: 40px;
}

h2 {
    color: #1db954;
    font-size: 30px;
}

p {
    color: #b3b3b3;
    font-size: 18px;
    line-height: 1.6;
}

ol {
    font-size: 18px;
}

ul {
    font-size: 18px;
}

#profile-name {
    color: #1db954;
    font-size: 28px;
    letter-spacing: -0.5px;
}

.card-info {
    color: #b3b3b3;
    font-size: 15px;
    line-height: 1.6;
}